{% extends "blogbase.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}
{% block content %}
    <section id="content">
            {% for article in dates %}
            	<div class="archive-item">
                    <h5 class="archive-date">{{ article.date|strftime('%d %B, %Y') }}</h5>
                    <div class="archive-post">
                    <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    <br/>
                    <small>
	                    {% if article.sub_title %}
							{{ article.sub_title }}
						{% endif %}
					</small>
					</h3>
					</div>
                </div>
                <hr/>
            {% endfor %}
    </section>
{% endblock %}
