{% extends "blogbase.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content">
	<article>
		<header >
			<h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
			title="Permalink to {{ article.title|striptags }}"> {{ article.title }} </a>
			<br/>
            	<small>
            		{% if article.sub_title %}
						{{ article.sub_title }}
					{% endif %}
            	</small>
			</h2>
		</header>
		{{ article.content }}
		<div class="article-meta">
			in
    		<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> 
			{% include 'includes/taglist.html' %}
		</div>
		{% include 'includes/related-posts.html' %}
		{% include 'includes/addthis.html' %}
		{% include 'includes/comments.html' %}
	</article>
</section>

{% endblock %}
