{% extends "blogbase.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content">
	<article>
		<header >
			<h1><a href="{{ SITEURL }}/{{ article.url }}"
			rel="bookmark"
			title="Permalink to {{ article.title|striptags }}"> {{ article.title }} </a></h1>
		</header>
		{{ article.content }}
		<div class="panel-body">
			{% include "includes/article_info.html" %}
		</div>
		{% include 'includes/related-posts.html' %}
		{% include 'includes/addthis.html' %}
		{% include 'includes/comments.html' %}
	</article>
</section>

{% endblock %}
